.hp_01_video {
  top: 0px;
  position: fixed;
  z-index: -1;
  object-fit: cover;
  opacity: 0.7;
  max-height: 800px;
}

// ======== hp_01 start=========
.homepage_01 {
  position: relative;
  z-index: 3;
  height: 85vh;
  display: flex;
  align-items: center;
}
.hp_01_content {
  h2 {
    padding: 40px 0;
    text-align: center;
    font-size: 28px;
    letter-spacing: 5px;
    color: #ffdda1;
  }
  p {
    letter-spacing: 2px;
    border-radius: 10px;
    background: #322a286c;
    padding: 30px 30px;
    font-size: 16px;
    text-align: center;
    a {
      width: 160px;
      height: 60px;
      border-radius: 5px;
      background-color: #ffdda1;
      color: #322a28;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 60px auto 0;
    }
  }
}
// =========== hp_01 end==========
// ========== hp_02 start=========
.homepage_02 {
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: #322a28;
  padding: 80px 0 0 0;
  .desktop_show {
    display: none;
  }
}
.hp_02_title {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
  letter-spacing: 4px;
}
.hp_02_location_card {
  padding: 60px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .location_pic {
    margin: 0 auto;
    width: 240px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 240px;
      height: 240px;
      border-radius: 50%;
      opacity: 1;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.3s 0.2s ease-in-out;
    }
    h3 {
      font-size: 28px;
      position: absolute;
      width: 240px;
      height: 50px;
      background-color: #ffdda1;
      z-index: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 95px; // (圖片寬度 / 2)-25px
      color: #322a28;
      transition: all 0.3s ease-in-out;
    }
  }
  .aisa_location {
    width: 100%;
    flex-grow: 1;
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 180px;
    p {
      padding: 10px;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }
}
// =========== hp_02 end==========
// ========= hp_03 start =========
.homepage_03 {
  position: relative;
  z-index: 3;
  background-color: #322a28;
  width: 100%;
  margin-top: -5px;
  h2 {
    width: 80%;
    text-align: center;
    font-size: 36px;
    letter-spacing: 4px;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h2:before {
    content: '';
    height: 2px;
    width: 80px;
    background-color: #d8c2a7;
  }
  h2:after {
    content: '';
    height: 2px;
    width: 80px;
    background-color: #d8c2a7;
  }
  .hp_03_menu_mb:nth-child(5) {
    border-bottom: none;
  }
  .hp_03_menu_mb {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #d8c2a7;

    .menu_item {
      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
      .qwe {
        object-position: left center;
      }
      text-align: center;
      h3 {
        height: 100%;
        line-height: 160px;
      }
    }
  }

  .right_style {
    .left {
      width: 60%;
    }
    .right {
      width: 40%;
    }
  }
  .left_style {
    .left {
      width: 40%;
    }
    .right {
      width: 60%;
    }
  }
}
// =========== hp_03 end==========

@media screen and (min-width: 768px) {
  .homepage_01 {
    height: 60vh;
  }
  .hp_01_content {
    h2 {
      padding: 0 0 40px 0;
      font-size: 42px;
      text-shadow: 0px 3px 6px #322a28;
    }
    p {
      font-size: 24px;
      background-color: #322a2847;
      color: #d8c2a7;
      a {
        width: 180px;
        height: 60px;
        font-size: 28px;
        margin: 100px auto 0;
      }
    }
  }
  // ======== hp_01 end=========
  .hp_02_location_card {
    width: 50%;
  }
  // ======== hp_02 end=========
  // ====== map ======
}
@media screen and (min-width: 1024px) {
  .homepage_01 {
    height: 65vh;
  }
  .hp_01_content {
    p {
      a {
        transition: all 0.5s;
        position: relative;
        overflow: hidden;
        text-shadow: none;
      }
      a:before {
        content: 'Get start';
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #704d10;
        color: #d8c2a7;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(5);
        opacity: 0;
        transition: all 0.5s;
      }
      a:hover:before {
        transform: scale(1);
        opacity: 1;
        transition: all 0.5s;
      }
    }
  }
  .hp_02_title {
    h2 {
      font-size: 42px;
    }
  }
  // ======== hp_01 end=========
}
@media screen and (min-width: 1200px) {
  .hp_01_content {
    h2 {
      font-size: 52px;
    }
    p {
      background-color: transparent;
      font-size: 28px;
      text-shadow: 0px 3px 6px #322a28;

      a {
        width: 260px;
        height: 80px;
        font-size: 32px;
      }
    }
  }
  // ======== hp_01 end=========
  .hp_02_title {
    h2 {
      font-size: 52px;
    }
  }
  .hp_02_location_card {
    width: 25%;
    .location_pic:hover {
      img {
        transform: scale(1.3);
        transition: all 0.3s ease;
      }
      h3 {
        top: 0;
        height: 240px;
        background-color: #ffdca1ba;
        transition: background-color 0.3s 0.2s ease, height 0.3s 0.2s ease,
          top 0.3s 0.2s ease;
      }
    }
  }
  .phone_show {
    display: none;
  }
  .homepage_02 {
    padding: 80px 0;
    .desktop_show {
      display: block;
    }
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0 20px;
    .hp_02_map_name {
      text-align: center;
      h3 {
        font-size: 28px;
        letter-spacing: 2px;
      }
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
      }
      li {
        color: #d8c2a7;
        margin: 10px;
        font-size: 20px;
        padding: 5px 12px;
        background-color: #8c5819;
        border-radius: 15px;
        letter-spacing: 1px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.3s, color 0.3s, background-color 0.3s;
      }
      .checked {
        background-color: #ffdda1;
        color: #8c5819;
        transform: scale(1);
      }
      li:hover {
        background-color: #ffdda1;
        color: #8c5819;
        transform: scale(1.3);
        transition: transform 0.3s;
      }
    }
  }

  .hp_02_map_con {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 600px;
    background-image: url(../../sourse/map_version_04.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .hp_02_map_item {
      position: absolute;
      width: 8px;
      height: 8px;
      cursor: pointer;
      overflow: hidden;
      border-radius: 50%;
      background-image: radial-gradient(
        4px 4px at center center,
        #d59446 100%,
        #d59446 100%
      );
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s;
      .item_pic {
        width: 100%;
        img {
          width: 100%;
          vertical-align: top;
        }
      }
    }
    .highlight {
      width: 16px;
      height: 16px;
      background-image: radial-gradient(
        8px 8px at center center,
        #ffdda1 20%,
        #925e0581 100%
      );
    }
    .item_card {
      opacity: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      transition: all 0.3s;
      .card_content {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .item_title {
          text-align: center;
          font-size: 22px;
          color: #322a28;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .item_content {
          flex-grow: 1;
          p {
            text-align: center;
            color: #322a28;
            font-weight: 600;

            span {
              display: block;
              margin: 10px 0;
              color: #704d10;
              font-size: 14px;
            }
          }
        }
        a {
          align-self: flex-end;
          font-size: 20px;
          margin: 10px;
          padding: 5px 15px;
          color: #704d10;
          font-weight: 600;
          cursor: pointer;
          border-radius: 6px;
          border: 1px solid #704d10;
          position: relative;
          overflow: hidden;
        }
        a::before {
          content: 'see more';
          color: #ffdda1;
          text-align: center;
          line-height: 30px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #704d10;
          transform-origin: bottom left;
          transform: rotate(-90deg);
          transition: transform 0.5s;
        }
        a:hover::before {
          transform-origin: bottom left;
          transform: rotate(0deg);
          transition: transform 0.5s;
        }
      }
    }
    .isOpacity {
      opacity: 1;
    }
    .open {
      width: 240px;
      height: 420px;
      border-radius: 10px;
      background-image: radial-gradient(
        120px 200px at center center,
        #ffdda1 0%,
        #ffdda1 100%
      );
      z-index: 10;
      transition: all 0.3s;
    }
    #panama {
      left: 27.5%;
      bottom: 32.5%;
    }
    #guatemala {
      left: 24.5%;
      bottom: 35%;
    }
    #honduras {
      left: 26%;
      bottom: 34.5%;
    }
    #costa {
      left: 26%;
      bottom: 32.5%;
    }
    #colombia {
      left: 30%;
      bottom: 31.5%;
    }
    #brazil {
      left: 36%;
      bottom: 26.5%;
    }
    #peru {
      left: 29%;
      bottom: 26%;
    }
    #ethiopia {
      left: 57%;
      bottom: 31.5%;
    }
    #kenya {
      left: 59%;
      bottom: 26%;
    }
    #rwanda {
      left: 55.5%;
      bottom: 23%;
    }
    #malawi {
      left: 57%;
      bottom: 20%;
    }
    #tanzania {
      left: 58%;
      bottom: 23%;
    }
    #philippines {
      left: 77%;
      bottom: 29%;
    }
    #indonesia {
      left: 75.5%;
      bottom: 24%;
    }
    #yemen {
      left: 60.5%;
      bottom: 33%;
    }
    #india {
      left: 67.5%;
      bottom: 32%;
    }
  }
  // ======== hp_02 end=========
}
@media screen and (min-width: 1445px) {
  .hp_02_map_con {
    height: 800px;
    .hp_02_map_item {
      width: 12px;
      height: 12px;
    }
    .highlight {
      width: 24px;
      height: 24px;
      background-image: radial-gradient(
        12px 12px at center center,
        #ffdda1 20%,
        #925e0581 100%
      );
    }
    .isOpacity {
      opacity: 1;
    }
    .open {
      width: 240px;
      height: 420px;
      border-radius: 10px;
      background-image: radial-gradient(
        120px 200px at center center,
        #ffdda1 0%,
        #ffdda1 100%
      );
    }
    #panama {
      left: 27.5%;
      bottom: 34%;
    }
    #guatemala {
      left: 24.5%;
      bottom: 37%;
    }
    #honduras {
      left: 26%;
      bottom: 36%;
    }
    #costa {
      left: 26%;
      bottom: 34%;
    }
    #colombia {
      left: 30%;
      bottom: 33%;
    }
    #brazil {
      left: 36%;
      bottom: 28%;
    }
    #peru {
      left: 28%;
      bottom: 27%;
    }
    #ethiopia {
      left: 57%;
      bottom: 33%;
    }
    #kenya {
      left: 59%;
      bottom: 27%;
    }
    #rwanda {
      left: 55%;
      bottom: 25%;
    }
    #malawi {
      left: 56.5%;
      bottom: 22%;
    }
    #tanzania {
      left: 58%;
      bottom: 24%;
    }
    #philippines {
      left: 77.5%;
      bottom: 29%;
    }
    #indonesia {
      left: 75.5%;
      bottom: 24%;
    }
    #yemen {
      left: 60.5%;
      bottom: 33%;
    }
    #india {
      left: 67.5%;
      bottom: 32%;
    }
  }
}
