.hp_01_video {
  top: 0px;
  position: fixed;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  max-height: 900px;
}

.homepage_01 {
  position: relative;
  z-index: 3;
  height: 95vh;
  display: flex;
  align-items: center;
}

.container_mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container_mid .hp_01_logo {
  width: 100%;
}
.container_mid .hp_01_logo img {
  width: 60%;
  display: block;
  margin: 10px auto;
}
.container_mid .hp_01_content {
  width: 100%;
}

.hp_01_content h2 {
  padding: 40px 0;
  text-align: center;
  font-size: 24px;
  letter-spacing: 5px;
  color: #ffdda1;
}
.hp_01_content p {
  letter-spacing: 2px;
  border-radius: 10px;
  background: rgba(50, 42, 40, 0.4235294118);
  padding: 30px 30px;
  font-size: 16px;
  text-align: center;
}
.hp_01_content p a {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #ffdda1;
  color: #322a28;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 0;
}

.homepage_02 {
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: #322a28;
  padding: 80px 0 0 0;
}
.homepage_02 .mb_show_up {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.homepage_02 .block_none {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.homepage_02 .desktop_show {
  display: none;
}

.hp_02_title {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
  letter-spacing: 4px;
}

.hp_02_location_card {
  padding: 60px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.hp_02_location_card .location_pic {
  margin: 0 auto;
  width: 240px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.hp_02_location_card .location_pic img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: all 0.3s 0.2s ease-in-out;
}
.hp_02_location_card .location_pic h3 {
  font-size: 28px;
  position: absolute;
  width: 240px;
  height: 50px;
  background-color: #ffdda1;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 95px;
  color: #322a28;
  transition: all 0.3s ease-in-out;
}
.hp_02_location_card .aisa_location {
  width: 100%;
  flex-grow: 1;
  padding: 40px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 180px;
}
.hp_02_location_card .aisa_location p {
  padding: 10px;
  font-size: 24px;
  letter-spacing: 2px;
}

.homepage_03 {
  position: relative;
  z-index: 3;
  background-color: #322a28;
  width: 100%;
  margin-top: -5px;
}
.homepage_03 h2 {
  width: 80%;
  text-align: center;
  font-size: 36px;
  letter-spacing: 4px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage_03 h2:before {
  content: "";
  height: 2px;
  width: 25%;
  background-color: #d8c2a7;
  margin-right: 20px;
}
.homepage_03 h2:after {
  content: "";
  height: 2px;
  width: 25%;
  background-color: #d8c2a7;
  margin-left: 20px;
}
.homepage_03 .hp_03_menu_mb {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.homepage_03 .hp_03_menu_mb .menu_item img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: all 0.2s 0.5s ease-in-out;
}
.homepage_03 .hp_03_menu_mb .menu_item .qwe {
  -o-object-position: left center;
     object-position: left center;
}
.homepage_03 .hp_03_menu_mb .menu_item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  letter-spacing: 2px;
  font-size: 24px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.homepage_03 .right_style_open .menu_item img,
.homepage_03 .left_style_open .menu_item img {
  height: 100px;
  transition: all 0.2s 0.3s ease-in-out;
}
.homepage_03 .right_style .left {
  width: 60%;
  transition: all 0.3s 0.7s ease-in-out;
}
.homepage_03 .right_style .right {
  width: 40%;
  transition: all 0.3s 0.7s ease-in-out;
}
.homepage_03 .right_style_open .left {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.homepage_03 .right_style_open .right {
  width: 0%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.homepage_03 .left_style .left {
  width: 40%;
  transition: all 0.3s 0.7s ease-in-out;
}
.homepage_03 .left_style .right {
  width: 60%;
  transition: all 0.3s 0.7s ease-in-out;
}
.homepage_03 .left_style_open .left {
  width: 0%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.homepage_03 .left_style_open .right {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail {
  background-color: #d8c2a7;
  width: 100%;
  height: 1px;
  position: relative;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 0;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_content {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
  overflow: hidden;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_content p {
  color: #322a28;
  font-size: 32px;
  font-weight: 800;
  padding: 15px 0;
  letter-spacing: 2px;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_content ul li {
  display: flex;
  font-size: 16px;
  color: #322a28;
  padding: 10px 0;
  border-top: 1px dashed #322a28;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_content ul li p {
  width: 70%;
  flex-grow: 1;
  color: #322a28;
  font-size: 18px;
  font-weight: 400;
  padding: 0 5px;
  letter-spacing: 2px;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_content ul li p + p {
  width: 20%;
  flex-grow: 0;
  padding: 0;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_content ul li .detail_pic {
  width: 10%;
  max-width: 24px;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_content ul li .detail_pic img {
  width: 100%;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_switch {
  position: absolute;
  bottom: 5px;
  width: 36px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  padding: 2px;
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail .item_detail_switch img {
  border-radius: 50%;
  width: 100%;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail_open {
  height: 500px;
  transition: all 0.5s 0.6s ease;
}
.homepage_03 .hp_03_menu_mb .menu_item_detail_open .item_detail_switch {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.homepage_05 {
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #322a28;
  overflow: hidden;
}
.homepage_05 h2 {
  padding: 40px 0px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 3px;
}
.homepage_05 .hp_05_mb_content {
  width: 100%;
  position: relative;
  padding-bottom: 60px;
}
.homepage_05 .hp_05_mb_content .hp_05_mb_content_pic {
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}
.homepage_05 .hp_05_mb_content .hp_05_mb_content_pic img {
  border-radius: 10px;
  width: 100%;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right center;
     object-position: right center;
  opacity: 0.7;
}
.homepage_05 .hp_05_mb_content .hp_05_mb_content_text::after {
  content: "";
  width: 145%;
  height: 90px;
  position: absolute;
  bottom: 8px;
  left: -40%;
  background-color: rgba(142, 89, 25, 0.4705882353);
  z-index: -1;
}
.homepage_05 .hp_05_mb_content .hp_05_mb_content_text {
  width: 90%;
  text-align: end;
  position: absolute;
  bottom: 20%;
  right: 0;
  z-index: 3;
  letter-spacing: 1px;
}
.homepage_05 .hp_05_mb_content .hp_05_mb_content_text h3 {
  letter-spacing: 2px;
  font-size: 24px;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .homepage_01 {
    height: 60vh;
  }
  .container_mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container_mid .hp_01_logo {
    width: 40%;
  }
  .container_mid .hp_01_logo img {
    width: 100%;
    display: block;
    margin: 160px auto;
  }
  .container_mid .hp_01_content {
    width: 50%;
  }
  .hp_01_content h2 {
    padding: 0 0 40px 0;
    font-size: 42px;
    text-shadow: 0px 3px 6px #322a28;
  }
  .hp_01_content p {
    font-size: 24px;
    background-color: rgba(50, 42, 40, 0.2784313725);
    color: #d8c2a7;
  }
  .hp_01_content p a {
    width: 180px;
    height: 60px;
    font-size: 28px;
    margin: 100px auto 0;
  }
  .hp_02_location_card {
    width: 50%;
  }
  .homepage_03 .hp_03_menu_mb .menu_item_detail_open {
    height: 360px;
    transition: all 0.5s 0.6s ease;
  }
  .homepage_03 .hp_03_menu_mb .menu_item_detail_open .item_detail_swtich {
    transform: rotate(0deg);
    background-color: #d8c2a7;
    transition: all 0.3s ease;
  }
  .homepage_05 h2 {
    font-size: 48px;
    letter-spacing: 3px;
  }
  .homepage_05 .hp_05_mb_content .hp_05_mb_content_text::after {
    height: 116px;
    left: -10%;
    bottom: 10px;
  }
  .homepage_05 .hp_05_mb_content .hp_05_mb_content_text h3 {
    font-size: 36px;
  }
  .homepage_05 .hp_05_mb_content .hp_05_mb_content_text p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .homepage_01 {
    height: 65vh;
  }
  .container_mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container_mid .hp_01_logo {
    width: 40%;
  }
  .container_mid .hp_01_logo img {
    width: 80%;
    display: block;
    margin: 80px auto;
  }
  .container_mid .hp_01_content {
    width: 50%;
  }
  .hp_01_content p a {
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    text-shadow: none;
  }
  .hp_01_content p a:before {
    content: "Get start";
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #704d10;
    color: #d8c2a7;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
  }
  .hp_01_content p a:hover:before {
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s;
  }
  .hp_02_title h2 {
    font-size: 42px;
  }
  .mb_ts {
    display: none;
  }
  .homepage_03 {
    width: 100%;
  }
  .homepage_03 h2 {
    font-size: 48px;
    margin-bottom: 80px;
  }
  .homepage_03 .hp_03_menu_dt_row {
    display: flex;
    width: 100%;
    height: 850px;
    justify-content: space-between;
    position: relative;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container {
    cursor: pointer;
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 10;
    transition: width 0.3s 0.6s ease-in-out;
    overflow: hidden;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_pic {
    width: 18%;
    height: 800px;
    transition: width 0.3s 0.1s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container {
    width: 0%;
    height: 800px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content {
    padding: 0 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content .dt_title {
    font-size: 36px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #d8c2a7;
    letter-spacing: 2px;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content ul {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content ul li .detail_pic {
    width: 10%;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content ul li .detail_pic img {
    width: 100%;
    max-width: 50px;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content ul li .detail_content {
    width: 90%;
    flex-grow: 1;
    letter-spacing: 2px;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content ul li .detail_content p {
    text-align: center;
    font-size: 24px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .homepage_03 .hp_03_menu_dt_row .menu_dt_item_container .dt_item_content_container .dt_item_content ul li .detail_content p + p {
    font-size: 20px;
    text-align: end;
    border-bottom: 1px dashed #ffdda1;
  }
  .homepage_03 .hp_03_menu_dt_row .dt_left_side {
    width: 100%;
    transition: width 0.3s 0.7s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .dt_left_side .dt_pic_show {
    width: 40%;
    transition: all 0.3s 0.6s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .dt_left_side .dt_content_show {
    opacity: 1;
    width: 60%;
    transition: all 0.3s 0.6s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_01 {
    left: 0;
    top: -100%;
    opacity: 0;
    transition: top 0.3s 0.6s ease-in-out, left 0.3s 0.3s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_02 {
    top: 100%;
    left: 20%;
    opacity: 0;
    transition: top 0.3s 0.6s ease-in-out, left 0.3s 0.3s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_03 {
    top: -100%;
    left: 40%;
    opacity: 0;
    transition: top 0.3s 0.6s ease-in-out, left 0.3s 0.3s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_04 {
    top: 100%;
    left: 60%;
    opacity: 0;
    transition: top 0.3s 0.6s ease-in-out, left 0.3s 0.3s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_05 {
    opacity: 0;
    top: -100%;
    left: 80%;
    transition: top 0.3s 0.6s ease-in-out, left 0.3s 0.3s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_scroll_done {
    top: 0;
    opacity: 1;
    transition: opacity 1s 0.2s ease-in-out, top 1s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_01::before {
    opacity: 1;
    content: "Espresso";
    position: absolute;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    padding-bottom: 10px;
    line-height: 300px;
    text-align: center;
    color: #ffdda1;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3764705882);
    background-color: rgba(50, 42, 40, 0.2901960784);
    transition: opacity 0.2s 1.2s ease;
  }
  .homepage_03 .hp_03_menu_dt_row .p_02::before {
    opacity: 1;
    content: "Coffee";
    position: absolute;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    line-height: 300px;
    text-align: center;
    color: #ffdda1;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3764705882);
    background-color: rgba(50, 42, 40, 0.2901960784);
    transition: opacity 0.2s 1.2s ease;
  }
  .homepage_03 .hp_03_menu_dt_row .p_03::before {
    opacity: 1;
    content: "Drink";
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    line-height: 300px;
    text-align: center;
    color: #ffdda1;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3764705882);
    background-color: rgba(50, 42, 40, 0.2901960784);
    transition: opacity 0.2s 1.2s ease;
  }
  .homepage_03 .hp_03_menu_dt_row .p_04::before {
    opacity: 1;
    content: "Dessert";
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    line-height: 300px;
    text-align: center;
    color: #ffdda1;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3764705882);
    background-color: rgba(50, 42, 40, 0.2901960784);
    transition: opacity 0.2s 1.2s ease;
  }
  .homepage_03 .hp_03_menu_dt_row .p_05::before {
    opacity: 1;
    content: "LightMeal";
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    line-height: 300px;
    text-align: center;
    color: #ffdda1;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3764705882);
    background-color: rgba(50, 42, 40, 0.2901960784);
    transition: opacity 0.2s 1.2s ease;
  }
  .homepage_03 .hp_03_menu_dt_row .p_01::after,
.homepage_03 .hp_03_menu_dt_row .p_03::after,
.homepage_03 .hp_03_menu_dt_row .p_05::after {
    content: "";
    position: absolute;
    bottom: -300px;
    left: 0px;
    width: 18%;
    height: 320px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 30%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0) 100%);
    transition: bottom 0.6s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_02::after,
.homepage_03 .hp_03_menu_dt_row .p_04::after {
    content: "";
    position: absolute;
    bottom: 780px;
    left: 0px;
    width: 18%;
    height: 320px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.45) 70%, rgba(255, 255, 255, 0) 100%);
    transition: bottom 0.6s ease-in-out;
  }
  .homepage_03 .p_01_show .p_02,
.homepage_03 .p_01_show .p_04 {
    opacity: 0;
    top: -100%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_01_show .p_03,
.homepage_03 .p_01_show .p_05 {
    opacity: 0;
    top: 110%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_01_show .p_01::before,
.homepage_03 .p_01_show .p_02::before,
.homepage_03 .p_01_show .p_03::before,
.homepage_03 .p_01_show .p_04::before,
.homepage_03 .p_01_show .p_05::before {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_01_show .p_01::after,
.homepage_03 .p_01_show .p_02::after,
.homepage_03 .p_01_show .p_03::after,
.homepage_03 .p_01_show .p_04::after,
.homepage_03 .p_01_show .p_05::after {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_02_show .p_02 {
    left: 0;
    transition: left 0.2s ease-in;
  }
  .homepage_03 .p_02_show .p_04 {
    opacity: 0;
    top: -100%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_02_show .p_01,
.homepage_03 .p_02_show .p_03,
.homepage_03 .p_02_show .p_05 {
    opacity: 0;
    top: 110%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_02_show .p_01::before,
.homepage_03 .p_02_show .p_02::before,
.homepage_03 .p_02_show .p_03::before,
.homepage_03 .p_02_show .p_04::before,
.homepage_03 .p_02_show .p_05::before {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_02_show .p_01::after,
.homepage_03 .p_02_show .p_02::after,
.homepage_03 .p_02_show .p_03::after,
.homepage_03 .p_02_show .p_04::after,
.homepage_03 .p_02_show .p_05::after {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_03_show .p_01::before,
.homepage_03 .p_03_show .p_02::before,
.homepage_03 .p_03_show .p_03::before,
.homepage_03 .p_03_show .p_04::before,
.homepage_03 .p_03_show .p_05::before {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_03_show .p_03 {
    left: 0;
    transition: left 0.2s ease-in;
  }
  .homepage_03 .p_03_show .p_02,
.homepage_03 .p_03_show .p_04 {
    opacity: 0;
    top: -100%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_03_show .p_01,
.homepage_03 .p_03_show .p_05 {
    opacity: 0;
    top: 110%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_03_show .p_01::after,
.homepage_03 .p_03_show .p_02::after,
.homepage_03 .p_03_show .p_03::after,
.homepage_03 .p_03_show .p_04::after,
.homepage_03 .p_03_show .p_05::after {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_04_show .p_01::before,
.homepage_03 .p_04_show .p_02::before,
.homepage_03 .p_04_show .p_03::before,
.homepage_03 .p_04_show .p_04::before,
.homepage_03 .p_04_show .p_05::before {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_04_show .p_04 {
    left: 0;
    transition: left 0.2s ease-in;
  }
  .homepage_03 .p_04_show .p_02 {
    opacity: 0;
    top: -100%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_04_show .p_01,
.homepage_03 .p_04_show .p_03,
.homepage_03 .p_04_show .p_05 {
    opacity: 0;
    top: 110%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_04_show .p_01::after,
.homepage_03 .p_04_show .p_02::after,
.homepage_03 .p_04_show .p_03::after,
.homepage_03 .p_04_show .p_04::after,
.homepage_03 .p_04_show .p_05::after {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_05_show .p_01::before,
.homepage_03 .p_05_show .p_02::before,
.homepage_03 .p_05_show .p_03::before,
.homepage_03 .p_05_show .p_04::before,
.homepage_03 .p_05_show .p_05::before {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .p_05_show .p_05 {
    left: 0;
    transition: left 0.2s ease-in;
  }
  .homepage_03 .p_05_show .p_02,
.homepage_03 .p_05_show .p_04 {
    opacity: 0;
    top: -100%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_05_show .p_01,
.homepage_03 .p_05_show .p_03 {
    opacity: 0;
    top: 110%;
    transition: all 0.3s ease-in-out;
  }
  .homepage_03 .p_05_show .p_01::after,
.homepage_03 .p_05_show .p_02::after,
.homepage_03 .p_05_show .p_03::after,
.homepage_03 .p_05_show .p_04::after,
.homepage_03 .p_05_show .p_05::after {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .homepage_03 .hp_03_menu_dt_row .p_01:hover::after,
.homepage_03 .hp_03_menu_dt_row .p_03:hover::after,
.homepage_03 .hp_03_menu_dt_row .p_05:hover::after {
    bottom: 890px;
    transition: bottom 0.6s ease-in-out;
  }
  .homepage_03 .hp_03_menu_dt_row .p_02:hover::after,
.homepage_03 .hp_03_menu_dt_row .p_04:hover::after {
    bottom: -400px;
    transition: bottom 0.6s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .hp_01_content h2 {
    font-size: 52px;
  }
  .hp_01_content p {
    background-color: transparent;
    font-size: 28px;
    text-shadow: 0px 3px 6px #322a28;
  }
  .hp_01_content p a {
    width: 260px;
    height: 80px;
    font-size: 32px;
  }
  .hp_02_title h2 {
    font-size: 52px;
  }
  .hp_02_location_card {
    width: 25%;
  }
  .hp_02_location_card .location_pic:hover img {
    transform: scale(1.3);
    transition: all 0.3s ease;
  }
  .hp_02_location_card .location_pic:hover h3 {
    top: 0;
    height: 240px;
    background-color: rgba(255, 220, 161, 0.7294117647);
    transition: background-color 0.3s 0.2s ease, height 0.3s 0.2s ease, top 0.3s 0.2s ease;
  }
  .phone_show {
    display: none;
  }
  .homepage_02 {
    padding: 80px 0;
  }
  .homepage_02 .desktop_show {
    display: block;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .homepage_02 .block_none {
    opacity: 1 !important;
    transition: 0.5s ease-in-out !important;
  }
  .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0 20px;
  }
  .flex .hp_02_map_name {
    text-align: center;
  }
  .flex .hp_02_map_name h3 {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .flex .hp_02_map_name ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
  }
  .flex .hp_02_map_name li {
    color: #d8c2a7;
    margin: 10px;
    font-size: 20px;
    padding: 5px 12px;
    background-color: #8c5819;
    border-radius: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
  }
  .flex .hp_02_map_name .checked {
    background-color: #ffdda1;
    color: #8c5819;
    transform: scale(1);
  }
  .flex .hp_02_map_name li:hover {
    background-color: #ffdda1;
    color: #8c5819;
    transform: scale(1.3);
    transition: transform 0.3s;
  }
  .hp_02_map_con {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 600px;
    background-image: url(../../sourse/map_version_04.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .hp_02_map_con .hp_02_map_item {
    position: absolute;
    width: 8px;
    height: 8px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    background-image: radial-gradient(4px 4px at center center, #d59446 100%, #d59446 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
  }
  .hp_02_map_con .hp_02_map_item .item_pic {
    width: 100%;
  }
  .hp_02_map_con .hp_02_map_item .item_pic img {
    width: 100%;
    vertical-align: top;
  }
  .hp_02_map_con .highlight {
    width: 16px;
    height: 16px;
    background-image: radial-gradient(8px 8px at center center, #ffdda1 20%, rgba(146, 94, 5, 0.5058823529) 100%);
  }
  .hp_02_map_con .item_card {
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
  }
  .hp_02_map_con .item_card .card_content {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .hp_02_map_con .item_card .card_content .item_title {
    text-align: center;
    font-size: 22px;
    color: #322a28;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .hp_02_map_con .item_card .card_content .item_content {
    flex-grow: 1;
  }
  .hp_02_map_con .item_card .card_content .item_content p {
    text-align: center;
    color: #322a28;
    font-weight: 600;
  }
  .hp_02_map_con .item_card .card_content .item_content p span {
    display: block;
    margin: 10px 0;
    color: #704d10;
    font-size: 14px;
  }
  .hp_02_map_con .item_card .card_content a {
    align-self: flex-end;
    font-size: 20px;
    margin: 10px;
    padding: 5px 15px;
    color: #704d10;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #704d10;
    position: relative;
    overflow: hidden;
  }
  .hp_02_map_con .item_card .card_content a::before {
    content: "see more";
    color: #ffdda1;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #704d10;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 0.5s;
  }
  .hp_02_map_con .item_card .card_content a:hover::before {
    transform-origin: bottom left;
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
  .hp_02_map_con .isOpacity {
    opacity: 1;
  }
  .hp_02_map_con .open {
    width: 240px;
    height: 420px;
    border-radius: 10px;
    background-image: radial-gradient(120px 200px at center center, #ffdda1 0%, #ffdda1 100%);
    z-index: 10;
    transition: all 0.3s;
  }
  .hp_02_map_con #panama {
    left: 27.5%;
    bottom: 32.5%;
  }
  .hp_02_map_con #guatemala {
    left: 24.5%;
    bottom: 35%;
  }
  .hp_02_map_con #honduras {
    left: 26%;
    bottom: 34.5%;
  }
  .hp_02_map_con #costa {
    left: 26%;
    bottom: 32.5%;
  }
  .hp_02_map_con #colombia {
    left: 30%;
    bottom: 31.5%;
  }
  .hp_02_map_con #brazil {
    left: 36%;
    bottom: 26.5%;
  }
  .hp_02_map_con #peru {
    left: 29%;
    bottom: 26%;
  }
  .hp_02_map_con #ethiopia {
    left: 57%;
    bottom: 31.5%;
  }
  .hp_02_map_con #kenya {
    left: 59%;
    bottom: 26%;
  }
  .hp_02_map_con #rwanda {
    left: 55.5%;
    bottom: 23%;
  }
  .hp_02_map_con #malawi {
    left: 57%;
    bottom: 20%;
  }
  .hp_02_map_con #tanzania {
    left: 58%;
    bottom: 23%;
  }
  .hp_02_map_con #philippines {
    left: 77%;
    bottom: 29%;
  }
  .hp_02_map_con #indonesia {
    left: 75.5%;
    bottom: 24%;
  }
  .hp_02_map_con #yemen {
    left: 60.5%;
    bottom: 33%;
  }
  .hp_02_map_con #india {
    left: 67.5%;
    bottom: 32%;
  }
  .homepage_05 .hp_05_mb_content .hp_05_mb_content_text::after {
    width: 105%;
    height: 116px;
    left: -10px;
    bottom: -20px;
  }
  .homepage_05 .hp_05_mb_content .hp_05_mb_content_text {
    width: 60%;
  }
  .homepage_05 .hp_05_mb_content .hp_05_mb_content_text h3 {
    font-size: 36px;
  }
  .homepage_05 .hp_05_mb_content .hp_05_mb_content_text p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1445px) {
  .hp_02_map_con {
    height: 800px;
  }
  .hp_02_map_con .hp_02_map_item {
    width: 12px;
    height: 12px;
  }
  .hp_02_map_con .highlight {
    width: 24px;
    height: 24px;
    background-image: radial-gradient(12px 12px at center center, #ffdda1 20%, rgba(146, 94, 5, 0.5058823529) 100%);
  }
  .hp_02_map_con .isOpacity {
    opacity: 1;
  }
  .hp_02_map_con .open {
    width: 240px;
    height: 420px;
    border-radius: 10px;
    background-image: radial-gradient(120px 200px at center center, #ffdda1 0%, #ffdda1 100%);
  }
  .hp_02_map_con #panama {
    left: 27.5%;
    bottom: 34%;
  }
  .hp_02_map_con #guatemala {
    left: 24.5%;
    bottom: 37%;
  }
  .hp_02_map_con #honduras {
    left: 26%;
    bottom: 36%;
  }
  .hp_02_map_con #costa {
    left: 26%;
    bottom: 34%;
  }
  .hp_02_map_con #colombia {
    left: 30%;
    bottom: 33%;
  }
  .hp_02_map_con #brazil {
    left: 36%;
    bottom: 28%;
  }
  .hp_02_map_con #peru {
    left: 28%;
    bottom: 27%;
  }
  .hp_02_map_con #ethiopia {
    left: 57%;
    bottom: 33%;
  }
  .hp_02_map_con #kenya {
    left: 59%;
    bottom: 27%;
  }
  .hp_02_map_con #rwanda {
    left: 55%;
    bottom: 25%;
  }
  .hp_02_map_con #malawi {
    left: 56.5%;
    bottom: 22%;
  }
  .hp_02_map_con #tanzania {
    left: 58%;
    bottom: 24%;
  }
  .hp_02_map_con #philippines {
    left: 77.5%;
    bottom: 29%;
  }
  .hp_02_map_con #indonesia {
    left: 75.5%;
    bottom: 24%;
  }
  .hp_02_map_con #yemen {
    left: 60.5%;
    bottom: 33%;
  }
  .hp_02_map_con #india {
    left: 67.5%;
    bottom: 32%;
  }
}/*# sourceMappingURL=style.css.map */