footer {
  padding: 20px 0px;
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #524644;
  .f_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .footer_logo_whole {
      width: 40px;
      padding-bottom: 10px;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .f_content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        color: #cab69e;
        a {
          width: 80%;
        }
      }
    }
    .f_media_map {
      padding: 20px 0px;
      width: 100%;
      .f_media {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 20px;
        a {
          width: 30px;
        }
      }
      .f_map_pic {
        width: 60%;
        margin: auto;
        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
  .copyright {
    text-align: center;
    font-size: 12px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  footer {
    .f_container {
      .footer_logo_whole {
        width: 60px;
        padding-bottom: 30px;
      }
      .f_content {
        li {
          color: #cab69e;
          font-size: 24px;
          a {
            width: 80%;
          }
        }
      }
      .f_media_map {
        padding: 40px 0px;
        .f_media {
          padding-bottom: 40px;
          a {
            width: 80px;
            img {
              width: 100%;
            }
          }
        }
        .f_map_pic {
          width: 60%;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  footer {
    .f_container {
      flex-direction: row;
      justify-content: space-between;

      .footer_logo_whole {
        margin: auto;
        width: 10%;
        padding: 0;
      }
      .f_content {
        width: 60%;
        align-items: center;
        padding: 0 20px;
        li {
          color: #cab69e;
          font-size: 24px;
          a {
            width: 80%;
          }
        }
      }
      .f_media_map {
        width: 30%;
        display: flex;
        padding: 40px 0px;
        .f_media {
          order: 1;
          flex-direction: column;
          padding-bottom: 0px;
          a {
            padding: 10px 0;
            width: 40px;
            img {
              width: 100%;
            }
          }
        }
        .f_map_pic {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  footer {
    .f_container {
      flex-direction: row;
      justify-content: space-between;

      .footer_logo_whole {
        margin: auto;
        padding: 0;
      }
      .f_content {
        width: 25%;
        order: -1;
        align-items: center;
        padding: 0 20px;
        flex-direction: column;
        justify-content: space-evenly;
        letter-spacing: 4px;
        text-align: center;
        .f_content_block {
          display: none;
        }
        li {
          width: 100%;
          position: relative;
          color: #cab69e;
          font-size: 24px;
          a {
            display: block;
            margin: 10px auto;
          }
        }
        li:before {
          content: '';
          position: absolute;
          width: 0%;
          height: 0%;
          transition: 0.3s all ease-in;
          background-color: transparent;
          top: 0;
          left: 0;
          border-top: 0px solid #cab69e;
          border-left: 0px solid #cab69e;
        }
        li:after {
          content: '';
          position: absolute;
          width: 0%;
          height: 0%;
          transition: 0.3s all ease-in;
          background-color: transparent;
          bottom: 0;
          right: 0;
          border-bottom: 0px solid #cab69e;
          border-right: 0px solid #cab69e;
        }
        li:hover:before {
          width: 30%;
          height: 50%;
          border-top: 2px solid #cab69e;
          border-left: 2px solid #cab69e;
          transition: 0.3s all ease-in;
        }
        li:hover:after {
          width: 30%;
          height: 50%;
          border-bottom: 2px solid #cab69e;
          border-right: 2px solid #cab69e;
          transition: 0.3s all ease-in;
        }
      }
      .f_media_map {
        width: 25%;
        display: flex;
        flex-direction: column;
        padding: 40px 0px;
        .f_media {
          flex-direction: row;
          a {
            padding: 10px 0px;
            width: 40px;
            img {
              width: 100%;
            }
          }
        }
        .f_map_pic {
          width: 100%;
        }
      }
    }
  }
}
